html {height: 100%;}

body {
  margin: 0;
  height: 100%;
  background-color: #ffffff;
  background-size: 400% 400%;
  }

/* FOOTER CODE ---DO NOT TOUCH--- */
#footer {
  font-family: Roboto, sans-serif;
  position: fixed;
  bottom: 0;
  text-indent: 7.5%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  background-color:#000000;
  color: #ffffff;
  text-align: right;
  font-size: 100%;
}
/* FOOTER CODE ---DO NOT TOUCH--- */
