html {height: 100%;}

body {
  margin: 0;
  height: 100%;
  background-color: #000000;
  background-size: 400% 400%;
  color: #707070;
  }

/* FOOTER CODE ---DO NOT TOUCH--- */
#footer {
  font-family: Roboto, sans-serif;
  direction:rtl;
  position: fixed;
  bottom: 0;
  text-align: right;
  text-indent: 2em;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  background-color:#707070;
  color: #ffffff;
  font-size: 100%;
}
/* FOOTER CODE ---DO NOT TOUCH--- */